.swiper {
    height: 500px;
    width: 65.1%;
    padding-top: 25px;
    z-index: -1;
}

.swiper-slide {
  cursor: pointer;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {

    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .splash-images {
    width: 250px;
    height: 250px;
    cursor: pointer;
  }

  .splash-1 {
    background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_featured_artists@2x-00444712.jpg);
    background-size: 1300px 500px;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
  }

  .splash-text-1 {
    margin-top: 13%;
    margin-left: 2%;
    color: rgb(255, 255, 255);
    font-size: 36px;
  }

  .splash-text-2 {
    width: 48%;
    margin-left: 27%;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

  .splash-2 {
    background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_a-3bb2d420.jpg);
    background-size: 1250px 500px;
    width: 100%;
    height: 100%;
    color: white;
  }

  .splash-text-3 {
    margin-top: 13%;
    margin-left: 2%;
    color: white;
    font-size: 36px;
  }

  .splash-text-4 {
    color: white;
    font-size: 18px;
    width: 48%;
    margin-left: 27%;
  }

  .signup-wrapper {
    width: 410px;
    height: 150px;
  }

  @media screen and (max-width: 1600px) {
    .splash-2 {
      background-size: 970px 600px;
    }

    .splash-1 {
      background-size: 970px 600px;
    }

    .splash-text-1 {
      margin-top: 21%;
      color: rgb(255, 255, 255);
      font-size: 28px;
    }

    .splash-text-2 {
      width: 48%;
      margin-left: 27%;
      color: rgb(255, 255, 255);
      font-size: 14px;
    }

    .splash-text-3 {
      margin-top: 21%;
      margin-left: 2%;
      color: white;
      font-size: 28px;
    }

    .splash-text-4 {
      color: white;
      font-size: 14px;
      width: 48%;
      margin-left: 27%;
    }

  }
