#root > div > div.sideBar-items > div.suggested-feed > ul > div > img {
    width: 30px;
    border-radius: 33px;
    height: 30px;
}

#root > div > div.sideBar-items > div.suggested-feed > ul {
    padding-left: 0;
    margin-left: 0;
    left: 0;
}

.user-suggested {
    display: flex;
    gap: 10px;
    color: rgb(156, 155, 155);
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 5px;
    border-radius: 7px;
}


#root > div > div.sideBar-items > div.suggested-feed > ul > div > div > a {
    display: flex;
    gap: 10px;
    color: rgba(255, 255, 255, .75);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.suggested-text {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.user-page-headline {
    margin-left: 35%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-profile-image {
    width: 100px;
    height: 100px;
    margin-top: 25%;
    border-radius: 53px;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.9);
}

.profile-subtitle {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.user-followers {
    margin-left: 36%;
    margin-top: 15px;
    display: flex;
    gap: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.75);
}

.user-followers-count {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.video-user-wrapper {
    display: grid;
    width: 700px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 33%;
    margin-top: 25px;
}

.user-bio {
    margin-left: 36%;
    margin-top: 1%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.75);
}

.caption-user {
    margin-left: 10%;
    margin-top: 3%;
    color: rgba(255, 255, 255, 0.75);
    max-width: 200px;
    max-height: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration: none;
    display: block;
}

.users-name {
    color: #999;
    font-size: 11px;
    line-height: 12px;
}

.user-header {
    text-decoration: none;
}

.title-image-user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.title-image-wrapper-user-1 {
    background-image: url(https://images.pexels.com/photos/6827398/pexels-photo-6827398.jpeg?auto=compress&cs=tinysrgb&w=1600);
    display: flex;
    align-items: center;
    margin-left: 17.2%;
    margin-right: 17.2%;
    margin-bottom: 5%;
    padding-left: 3%;
    gap: 5%;
}
.title-image-wrapper-user-2 {
    background-image: url(https://images.pexels.com/photos/9264012/pexels-photo-9264012.jpeg?auto=compress&cs=tinysrgb&w=1600);
    display: flex;
    align-items: center;
    margin-left: 17.2%;
    margin-right: 17.2%;
    margin-bottom: 5%;
    padding-left: 3%;
    gap: 5%;
}
.title-image-wrapper-user-3 {
    background-image: url(https://images.pexels.com/photos/7464822/pexels-photo-7464822.jpeg?auto=compress&cs=tinysrgb&w=1600);
    display: flex;
    align-items: center;
    margin-left: 17.2%;
    margin-right: 17.2%;
    margin-bottom: 5%;
    padding-left: 3%;
    gap: 5%;
}
.title-image-wrapper-user-4 {
    background-image: url(https://images.pexels.com/photos/4200745/pexels-photo-4200745.jpeg?auto=compress&cs=tinysrgb&w=1600);
    display: flex;
    align-items: center;
    margin-left: 17.2%;
    margin-right: 17.2%;
    margin-bottom: 5%;
    padding-left: 3%;
    gap: 5%;
}
.title-image-wrapper-user-5 {
    background-image: url(https://images.pexels.com/photos/5472601/pexels-photo-5472601.jpeg?auto=compress&cs=tinysrgb&w=1600);
    display: flex;
    align-items: center;
    margin-left: 17.2%;
    margin-right: 17.2%;
    margin-bottom: 5%;
    padding-left: 3%;
    gap: 5%;
}
.title-image-wrapper-user-6 {
    background-image: url(https://images.pexels.com/photos/3230516/pexels-photo-3230516.jpeg?auto=compress&cs=tinysrgb&w=1600);
    display: flex;
    align-items: center;
    margin-left: 17.2%;
    margin-right: 17.2%;
    margin-bottom: 5%;
    padding-left: 3%;
    gap: 5%;
}
.title-image-wrapper-user-7 {
    background-image: url(https://images.pexels.com/photos/2090881/pexels-photo-2090881.jpeg?auto=compress&cs=tinysrgb&w=1600);
    display: flex;
    align-items: center;
    margin-left: 17.2%;
    margin-right: 17.2%;
    margin-bottom: 5%;
    padding-left: 3%;
    gap: 5%;
}

.title-wrapper-user {
    margin-bottom: 10%;
    width: 500px;
}

.follow-feed-wrapper {
    display: flex;
    flex-direction: column;
}

.follow-wrapper-user {
    margin-left: 32%;
}
