#root > div.fixed-sideBar {
    position: fixed;
    border: 1px solid rgb(230, 230, 230);
    border-right: none;
    width: 400px;
    margin-top: 2.4%;
    margin-left: 63.5%;
    padding-bottom: 125px;
    height: 85%;
    z-index: 1;
    background-color: white;
    overflow-y: scroll;
}

.fixed-sideBar-index-item {
    position: absolute;
    border: 1px solid rgb(230, 230, 230);
    border-right: none;

    border-top: none;
    width: 350px;
    margin-top: 33.9%;
    margin-left: 64.2%;
    z-index: 1;
    background-color: white;
}

.fixed-sideBar-profile {
    position: absolute;
    border: 1px solid rgb(230, 230, 230);
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: 350px;
    margin-top: 21%;
    margin-left: 64.2%;
    padding-bottom: 20px;
    z-index: 1;
    background-color: white;
}

#root > div.fixed-sideBar::-webkit-scrollbar-thumb {
    width: 6px;
    height: 100%;
    border-radius: 3px;
    background: rgba(255, 255, 255, .08);
}

#root > div.fixed-sideBar::-webkit-scrollbar {
    width: 4px;
}

.sideBar-profile {
    width: 125px;
    height: 125px;
    margin-top: 7%;
    margin-left: 23%;
}

.bio {
    font-size: 14px;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 7%;
    color: #333333;
}

.social-header {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 14px;
    color: #333333;
}

.social-subHeader {
    margin-top: 1%;
    margin-left: 10%;
    font-size: 14px;
    color: rgb(173, 170, 170)
}

.sideBar-seperator {
    border: 1px solid rgb(239, 237, 237);
    width: 90%;
    margin-left: 4%;
}

.social-footer {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(141, 141, 141)
}

.socials {
    font-size: 13px;
    margin-left: 10%;
}

.socialsContainer {
    display: flex;
    width: 100%;
}

.socialIcon {
    width: 40px;
    padding-right: 5px;
}

.users-header {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 5%;
    margin-left: 10%;
    border-bottom: 1px solid #f2f2f2;
    color: #999;
    line-height: 24px;
    font-weight: 100;
}

.users-header-text {
    padding-top: 15px;
    font-size: 14px;
    color: #999;
    font-weight: 100;
}

@media screen and (max-width: 1600px) {

.sideBar-profile {
    width: 125px;
    margin-top: 9%;
    margin-left: 24%;
}

.fixed-sideBar-index-item {
    position: absolute;
    border: 1px solid rgb(230, 230, 230);
    border-bottom: none;
    width: 310px;
    margin-top: 34.8%;
    margin-left: 46.5%;
    height: 1650px;
    z-index: 1;
    background-color: white;
    visibility: hidden;
}
}
