/* TODO Add site wide styles */
* {
    margin: 0 0;
    font-family: Verdana,Tahoma,sans-serif;
    font-weight: 100;
    color: grey;
}
h1 {
    font-family: Verdana,Tahoma,sans-serif;
    font-weight: 100
}

body {
    margin-top: 0;
    overflow-y: scroll;
    padding-bottom: 125px;
    background: #f2f2f2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABNgAAABkAQMAAABuPx8iAAAAA1BMVEX///+nxBvIAAAAJUlEQVR4Xu3AMQEAAADCIPunNsYeWAQAAAAAAAAAAAAAAAAAAOA88AABMGQBNwAAAABJRU5ErkJggg==) repeat-y 50% 0;
}

.border {
    border: 25px solid grey
}

#root > div.rhap_container.rhap_loop--off.rhap_play-status--paused {
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 0
}

#root > div.rhap_container.rhap_loop--off.rhap_play-status--playing {
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 0
}

.splash-pic {
    width: 100%;
    height: 400px;
}

#root > form {
    position: absolute;
    display: block;
    margin-top: 5%;
    flex-direction: column;
    width: 550px;
    height: 400px;
    margin-left: 34%;
    padding-top: 65px;
    padding-right: 25px;
    padding-bottom: 105px;
    padding-left: 50px;;
    border: 8px solid black;
    border-top: 10px solid black;
    border-right: 10px solid black;
    color: grey;
    text-align: left;
}

#root > form > label > input[type=text] {
    width: 90%;
    margin: 10px;
}

#root > form > label > input[type=password] {
    width: 90%;
    margin: 10px;
}

#root > form > button {
    width: 350px;
    height: 55px;
    margin-left: 11%;
    margin-top: 9%;
    background-color: rgba(252, 113, 0, 0.899);
    border: 1px solid rgba(252, 113, 0, 0.899);
    font-size: 20px;
    color: white;
}

#root > form > button:hover {
    cursor: pointer;
}

#root > form > label {
    text-align: left;
    padding-left: 25px;
}

#root > form > ul {
    list-style-type: none;
    padding-bottom: 10px;
}

#modal-content > form > ul {
    list-style-type: none;
}


@media screen and (max-width: 1600px) {

}
