/* TODO Add site wide styles */
* {
    margin: 0 0;
    font-family: Lucida,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
h1 {
    font-family: Lucida,Verdana,Tahoma,sans-serif;
    font-weight: 100
}

body {
    margin-top: 0;
    height: 3000px;
}

.border {
    border: 25px solid grey
}

body:not(.navBar) {
    z-index: 3;
    border-left: 60px solid rgb(213, 212, 212);
    border-right: 60px solid rgb(213, 212, 212);
}

#root > div.rhap_container.rhap_loop--off.rhap_play-status--paused {
    position: fixed;
    z-index: 1000;
    width: 91%;
    bottom: 0
}

#root > div.rhap_container.rhap_loop--off.rhap_play-status--playing {
    position: fixed;
    z-index: 1000;
    width: 91%;
    bottom: 0
}
