

.playlistSection {
    width: 650px;
    margin-left: 60px;
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: white;
}

li {
    color: black;
    padding-right: 25px;
}

.playlist {
    font-size: 14px;
}

h2 {
    display:flex;
    align-items: left;
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    padding-bottom: 4%;
    padding-top: 10%;
    font-size: 18px;
    font-weight: 400;
}

.box {
    box-sizing: border-box;
    display: flex;
    vertical-align: auto;
    flex-direction: column;
    justify-content: space-between;
}

.playlist {
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: #333333;
}

.playlistForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 3px solid orange;
    border-radius: 7px;;
    background-color: rgba(245, 161, 6, .2);
    width: 150px;
    height: 120px;
    color: #38d
}

.playlistForm:hover {
    color: #333333
}
