li {
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    width: 100%;
    height: 30px;
}
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0;
    width: 100%;
    background-color: #333333;
}

button {
    width: 25px;
    height: 20px;
    margin-right: 250px;
    background-color: white;
    margin-bottom: 14px;
}

.active {
    text-decoration: none;
    color: white;
    margin-bottom: 14px;
}
.profile-dropdown {
    display: flex;
}

.logout {
    width: 55px;
}
